html,body{
	margin: 0;
	padding: 0;
	font-family: 'Noto Serif SC', serif;
	background-color: lightblue;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.scrollable {
	overflow-y:scroll;
	height: 400px;
	position : relative; 
}

/*.scrollable {
    height: 20%;
    overflow: auto;
}*/

.footer {
  position: fixed;
  margin-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
}

#wrapper {
    height: 100%;
    width: 200px;
    overflow: auto;
}